@import 'tailwindcss';

@theme {
	/* Font */
	--font-header: 'League Gothic', 'sans-serif';
	/* Light Mode Colors ----- */
    /* Main Background */
    --color-background: var(--color-gray-100);
	/* Header */
	--color-header-background: var(--color-blue-500);
	--color-header-text: #fff;
	/* Misc Text */
	--color-normal-text: #111;
	--color-hint-text: var(--color-gray-500);
	/* Button */
	--color-button-text: #fff;
	--color-button-background: var(--color-blue-600);
	--color-button-hover: var(--color-blue-700);
	--color-button-focus: var(--color-blue-800);
	/* Checkbox */
	--color-checkbox-checked: var(--color-blue-500);
	--color-checkbox-background: #fff;
	--color-checkbox-border: var(--color-gray-500);
	/* Elevated */
	--color-elevated-background: #fff;
	--color-card-hover: var(--color-blue-50);
	/* Hamburger */
	--color-hamburger: #fff;
	--color-hamburger-hover: var(--color-blue-600);
	/* Toggle Button */
	--color-toggle-button: #292929;
	--color-toggle-button-text: #fff;
	--color-toggle-button-hover: var(--color-gray-800);
	/* Input */
	--color-input-border: var(--color-gray-300);
	--color-input-border-ring: var(--color-blue-500);
	/* Misc */
	--color-icon: #333;
	--color-divider: var(--color-gray-300);
    --color-tag: var(--color-blue-300);
    --color-svg: #000;

	/* Dark Mode Colors ----- */
    /* Main Background */
    --color-dark-background: #1f1f1f;
	/* Header */
	--color-dark-header-background: var(--color-blue-800); 
	--color-dark-header-text: #fff; 
	/* Misc Text */
	--color-dark-normal-text: #eee;
	--color-dark-hint-text: var(--color-gray-100);
	/* Button */
	--color-dark-button-text: #fff; 
	--color-dark-button-background: var(--color-blue-700);
	--color-dark-button-hover: var(--color-blue-800); 
	--color-dark-button-focus: var(--color-blue-900); 
	/* Checkbox */
	--color-dark-checkbox-checked: var(--color-blue-500);
	--color-dark-checkbox-background: var(--color-gray-700);
	--color-dark-checkbox-border: var(--color-gray-500);
	/* Elevated */
	--color-dark-elevated-background: #292929; 
	--color-dark-card-hover: var(--color-blue-900); 
	/* Hamburger */
	--color-dark-hamburger: #fff;
	--color-dark-hamburger-hover: var(--color-blue-900);
	/* Toggle Button */
	--color-dark-toggle-button: #fff;
	--color-dark-toggle-button-text: var(--color-gray-900);
	--color-toggle-button-hover: #dbdbdb;
	/* Input */
	--color-dark-input-border: var(--color-gray-500);
	--color-dark-input-border-ring: var(--color-blue-500);
	/* Misc */
	--color-dark-icon: var(--color-gray-400);
    --color-dark-svg: #fff;
	--color-dark-divider: var(--color-gray-600);
    --color-dark-tag: var(--color-blue-800);
}
@custom-variant dark (&:where(.dark, .dark *));
